# Windows metafiles
Thumbs.db

# Mac metafiles
._*
.DS_Store

# Python bytecode
*.pyc

# PyCharm projects
.idea

# TensorFlow Inception training output
#TensorFlowInception/*/output_graph.pb
#TensorFlowInception/*/output_labels.txt
TensorFlowInception/*/logs
TensorFlowInception/*/bottleneck
TensorFlowInception/*/retrain.log
